<h1>SimplePages#about</h1>
<p>Find me in app/views/simple_pages/about.html.erb</p>

<h1>Sell A Bike</h1>
<p>Sell A Bike is a multi-functional application that specializes in buying and selling bikes with other users.</p>
<p>Sell A Bike offers an application that facilitates buying and selling of motorbikes. It enables its users to search for bikes according to their features and obtain notifications when there is a deal that is according to their preferences. The application also enables its users to find and buy clothing and accessories.</p>
