

<div class="introContact">
  <h1>SimplePages#contact</h1>
  <p>Find me in app/views/simple_pages/contact.html.erb</p>
  <h1>Daniel's Bike Shop</h1>
  <br>
  <h2>Contact me:</h2>
  <br>
  <email>dansbike@gmail.com</email>
  <br>
  <number>03771234567</number>
</div>
