<div class="introIndex ">
  <p>Welcome! The date and time is <%= Time.now %></p>
  <%# test_variable = 42 %>
  <%#= test_variable %>
  <%#= test_variable - 2 %>

  <% 4 + 4 %>
  <%= 4 + 4 %>

  <%= image_tag("racebike.jpg", class: "img-responsive") %>
</div>
