<div class="introIndex">

  <div>
    Welcome to Dan's Bike Shop
    <p class="time"><%= Time.now %></p>
  </div>

  <!-- <h1>MOUNTAIN SLAYER</h1>
  <%= image_tag("racebike.jpg", class: "img-responsive") %> -->
</div>
<!-- ****************************************************** -->
<!-- Bikes Section -->

<!-- Start of Bikes Section -->

<!-- Start of container-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="app/assets/images/racebike.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">MOUNTAIN SLAYER</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!-- ****************************************************** -->
