/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 * {
   box-sizing: border-box;
 }

 body {
   font-family: 'Indie Flower', cursive;
   position: relative;
   font-family: 'ABeeZee';
   font-size: 22px;
 }

 .text {
   font-size: 20px;
 }
 * {
   margin: 0;
 }
 html, body {
   height: 100%;
 }


 /* <!-- ****************************************************** --> */
 /* <!-- NavBar Section --> */

 .navbar {
   margin-bottom: 0px;
   z-index: 1;
 }

 .nav li a {
   font-size: 32px;
 }

 /* <!-- ****************************************************** --> */
 /* <!-- Index page Intro Section --> */

 .introIndex {
  margin-top: 55px;
  font-family: 'Roboto';
  font-size: 22px;
 }


 /* <!-- ****************************************************** --> */
 /* <!-- About page Intro Section --> */

.introAbout {
  margin-top: 55px;
  font-family: 'Roboto';
  font-size: 22px;
}


/* <!-- ****************************************************** --> */
/* <!-- Contact page Intro Section --> */

.introContact {
 margin-top: 55px;
 font-family: 'Roboto';
 font-size: 22px;
}

/* <!-- ****************************************************** --> */
/* <!-- Footer Section --> */

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background: rgba(115, 116, 114, 1.000)
}
