// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// body {
//
// }
//
// .introIndex {
//   margin: 40px;
// }
// .time {
//   float: right;
// }


.text {
  font-size: 20px;
}
.navbar {
  margin-bottom: 0px;
  z-index: 1;

}
.navbar-right {
  display: inline-block;
}
.nav-link {
  margin: 20px;
}

.nav li a {
  font-size: 32px;
}
